/* Alex Smith
November 3,2016
Project 1, Part 1 Section 2
Introduction */

body
{
	background-color: lightgreen;
}

#ex1
{
	font-family: arial;
	color: darkblue;
	text-align: center;
}

#class
{
	font-family: Palatino Linotype;
}

#name
{
	font-family: Verdana;
}

#ex
{
	border: 2px solid darkgreen;
	margin-right:900px;
}


h1
{
	font-family: Georgia;
	color: blue;
	text-align: center;
}
