/* Alex Smith
November 3,2016
Project 1, Part 1 Section 2
Introduction */

#USA
{
	float: left;
}

#Canada
{
	float: right;
}

body
{
	background-color: red;
}

#ex1
{
	font-family: arial;
	color: white;
	text-align: center;
}

#class
{
	font-family: Palatino Linotype;
}

#name
{
	font-family: Verdana;
}

#ex
{
	border: 2px solid darkgreen;
	margin-right:900px;
}

#link
{
	text-align: center;
	color: white;
}

h1
{
	font-family: Georgia;
	color: white;
	text-align: center;
}
